<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CampusKør</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section class="hero">


    <div class="content">
        <h1>🚗 CampusKør</h1>
        <p>Samkørsel til og fra Campus Bornholm</p>

        <div class="buttons">
            <a href="/book" class="btn primary">Find kørelejlighed</a>
            <a href="/create" class="btn secondary">Opret tur</a>
        </div>
    </div>
</section>

</body>
</html>